.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 18px 32px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color : #333;
    font-size: 16px;
    transition: color 0.3s;
}

.nav a:hover{
    color: #007BFF;
}

.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span{
    width: 25px;
    height: 3px;
    background: #333;
    transition: 0.3s;
}

.hamburger .open span:nth-child(1){
    transform: rotate(45deg) translate(5px,5px);
}

.hamburger .open span:nth-child(2){
    opacity: 0;
}

.hamburger .open span:nth-child(3){
    transform: rotate(-45deg) translate(6px,-6px);
}

 @media (max-width:768px){
    .hamburger{
        display: flex;
    }

    .nav{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background: white;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        display: none;
    }

    .nav.active{
        display: flex;
    }

    .nav a {
        margin: 10px 0;
    }
 }