


*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.about-section{
    scroll-margin-top: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #fff; /* or your page background color */
}
